<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Loved One&apos;s</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>loved_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
    <key>NSAppleMusicUsageDescription</key>
    <string>We need access to your Apple Music library to provide personalized music recommendations.</string>
	<key>NSCameraUsageDescription</key>
	<string>Loved One&apos;s App needs access to the camera to capture pictures.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To provide a personalized experience, Loved One&apos;s App requires access to your current location. This is used to allowing users to see where the pins were created.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Loved One&apos;s App optimizes your experience by using your current location, this enables users to see where the pins were created.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Loved One&apos;s App optimizes your experience by using your current location, this enables users to see where the pins were created.</string>
	<key>NSNotificationsUsageDescription</key>
	<string>Loved One&apos;s App uses notifications to keep you updated on important information and events.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Loved One&apos;s App requires access to the gallery to upload pictures.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
